.checkbox-otkl {
  display: inline-block;
  font-weight: normal;
  margin-left: 10px;
}

.checkbox-otkl__input {
  display: none;
}

.checkbox-otkl__label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  cursor: pointer;
  color: #555555;
}

.checkbox-otkl__label:hover {
  color: #222222;
}

.checkbox-otkl__label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 9.6px;
  height: 10px;
  border-radius: 2px;
  background-color: #eeeeee;
  box-shadow: inset 0.7px 0.7px 0.3px 0 #555555;
}

.checkbox-otkl__label:hover::before {
  background-color: #e5e5e5;
  box-shadow: inset 0.7px 0.7px 0.3px 0 #555555;
}

.checkbox-otkl__label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 1px;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  z-index: 2;
}

.checkbox-otkl__input:checked + .checkbox-otkl__label::after {
  background-color: #ffb100;
}

.checkbox-otkl__input:checked + .checkbox-otkl__label {
  color: #000000;
}

.checkbox-otkl__input:checked + .checkbox-otkl__label:hover {
  opacity: 0.9;
}



