.save-and-load {
  display: inline-block;
  vertical-align: top;
}

.save-and-load__row {
  display: inline-block;
  vertical-align: top;
}

.save-and-load__item {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}
