@media print {
  .conclusion__box {
    border: none;
  }

  .conclusion__panel {
    display: none;
  }

  .conclusion__text {
    border-radius: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Calibri, Arial, serif;
    font-size: 12pt;
  }
}
