.textarea-inline {
  margin-top: 10px;
  margin-bottom: 10px;
}

.textarea-inline__input {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 20px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
  overflow: hidden;
  font-size: 14px;
}

.textarea-inline__label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}