.textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}

.textarea__input {
  display: block;
  width: 90%;
  max-width: 800px;
  min-height: 70px;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  outline: none;
  overflow: hidden;
  font-size: 14px;
  line-height: 1;
}

.textarea__label {
  /*padding-left: 15px;*/
}
