.option__item {
  margin: 10px 0;
}
.option__label {
  display: inline-block;
  margin-right: 10px;
}
.option__input {
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  height: 26px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
  overflow: hidden;
  font-size: 14px;
  line-height: 1;
  margin-right: 10px;
}
.option__status {
  display: inline-block;
  font-size: 13px;
  padding-left: 10px;
}
.option__update {
  color: orange;
}
.option__error {
  color: red;
}
.option__success {
  color: green;
}
.option__not-save {
  color: gray;
}
.option__user-id {
  color: gray;
  font-size: 10px;
  font-weight: 400;
}
