.option__item {
  margin: 10px 0;
}
.option__label {
  display: inline-block;
  margin-right: 10px;
}
.option__input {
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  height: 26px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
  overflow: hidden;
  font-size: 14px;
  line-height: 1;
  margin-right: 10px;
}

.option__update {
  display: inline-block;
}
.option__error {
  display: inline-block;
  font-weight: 700;
  color: red;
}
.option__success {
  display: inline-block;
  font-weight: 700;
  color: green;
}
.option__not-save {
  display: inline-block;
  font-weight: 400;
  color: gray;
}
