
.radio__inline-list {
  display: flex;
  flex-wrap: wrap;
}

.radio__inline-label {
  display: inline-block;
  margin-right: 10px;
}

.radio__inline-item {
  display: inline-block;
  margin-right: 10px;
}

