.user__item {
	margin: 10px 0;
}
.user__label {
	display: inline-block;
	margin-right: 10px;
}
.user__input {
	display: inline-block;
	vertical-align: middle;
	width: 260px;
	height: 26px;
	padding: 5px 10px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	outline: none;
	overflow: hidden;
	font-size: 14px;
	line-height: 1;
	margin-right: 10px;
}
.user__status {
	display: inline-block;
	font-size: 13px;
	padding-left: 10px;
}
.user__update {
	color: orange;
}
.user__error {
	color: red;
}
.user__success {
	color: green;
}
.user__not-save {
	color: gray;
}
.user__user-id {
	color: gray;
	font-size: 10px;
	font-weight: 400;
}
