.header {
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}
.header__row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
}
.header__col-logo {
  display: inline-flex;
  vertical-align: top;
  -ms-align-items: center;
  align-items: center;
}
.header__logo-box {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.header__title {
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #222222;
}
.header__col-menu {
  flex-grow: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
}
.header__menu {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.header__menu-item {
  display: inline-block;
  vertical-align: top;
  margin: 5px 0;
  padding: 5px 10px;
  cursor: pointer;
}
.header__menu-item:hover {
  background-color: #ccc;
}
