.header__menu {
  margin: 0;
}
.header__menu-item {
  display: inline-block;
  vertical-align: top;
  margin: 5px 0;
  padding: 5px 10px;
  cursor: pointer;
}
.header__menu-item:hover {
  background-color: #ccc;
}
