.orientir__table {
  display: flex;
}

.orientir__col {
  width: 120px;
}

.orientir__top {
  font-weight: 700;
  /*padding-left: 15px;*/
}

.orientir__content {
  margin: 5px 0;
}

.orientir__bottom {
}
