.orientir__title {
  font-weight: 700;
}

.orientir__table {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-top: 15px;
}

.orientir__col {
  width: 120px;
}

.orientir__top {
  font-weight: 700;
  /*padding-left: 15px;*/
}

.orientir__content {
  margin: 5px 0;
}

.orientir__bottom {
}
